[submodule "lib/ParticleSoftSerial"]
	path = lib/ParticleSoftSerial
	url = https://github.com/ScruffR/ParticleSoftSerial.git
[submodule "lib/Particle_Adafruit_VC0706"]
	path = lib/Particle_Adafruit_VC0706
	url = https://github.com/edalquist/Particle-Photon-Adafruit-VC0706-Serial-Camera-Library
[submodule "lib/SparkIntervalTimer"]
	path = lib/SparkIntervalTimer
	url = https://github.com/pkourany/SparkIntervalTimer.git
